<!-- templates/member/fall_prevention.html -->
{% extends "member/base.html" %} {% block title %}낙상 감지 시스템{% endblock %}
{% block content %}
<h2>낙상감지시스템</h2>

<div
  style="width: 800px; height: 500px; background: black; margin-bottom: 10px"
>
  <img
    src="{% url 'pose_estimation_feed' %}"
    style="width: 100%; height: 100%"
  />
</div>

<form method="GET" action="{% url 'toggle_privacy_mode' %}">
  <button type="submit" style="background: purple; color: white">
    보호모드
  </button>
</form>
{% endblock %}
