<!-- templates/member/member_reg.html -->
{% extends "member/base.html" %} {% block title %}회원가입{% endblock %}
<!-- prettier-ignore-start -->
{%block content %}
<!-- prettier-ignore-end -->
<h2>회원가입</h2>
<form method="POST">
  {% csrf_token %}
  <label>아이디: <input type="text" name="member_id" required /></label
  ><br /><br />
  <label>비밀번호: <input type="password" name="passwd" required /></label
  ><br /><br />
  <label>이름: <input type="text" name="name" required /></label><br /><br />
  <label>병동명: <input type="text" name="ward_name" required /></label
  ><br /><br />
  <label>전화번호: <input type="tel" name="phone" required /></label
  ><br /><br />

  <button type="submit">회원가입</button>
</form>

{% if message %}
<p style="color: red">{{ message }}</p>
{% endif %} {% endblock %}
